form{
    border: 3px solid #f1f1f1;
    background-color: #f1f1f1;
    width:100%,;
    border-radius:3%;    
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

form_signup{
    border:3px solid #f1f1f1;
    background-color: #f1f1f1;
}



.button1{
    width: 70%;
    border-radius: 10%;
    color: aqua
}